# Базовые структуры данных



## Домашнее задание 

### Описание домашнего задания и формат сдачи

В домашнем задании необходимо решить предложенные задачи по программированию – вписать свой код в ячейки после условий задач вместо комментария `### YOUR CODE HERE ###` в файле *jun_anl_data_structures.ipynb* и сохранить изменения, используя опцию *Save and Checkpoint* из вкладки меню *File* или кнопку *Save and Checkpoint* на панели инструментов. Итоговый файл в формате `.ipynb` (файл Jupyter Notebook) необходимо загрузить в личный кабинет обучающей онлайн платформы Skillbox (https://go.skillbox.ru/) и отправить на проверку.

**NB!** Во всех заданиях обязательно наличие выдачи.

## Индексация списка

In [2]:
L = [[[1, 2, 3, 4, 5, 6, 7, 8, 9, 10], [11, 12, 13, 14, 15, 16, 17, 18, 19, 20]], 
    [[21, 22, 23, 24, 25, 26, 27, 28, 29, 30], [31, 32, 33, 34, 35, 36, 37, 38, 39, 40]], 
    [[41, 42, 43, 44, 45], [46, [47, 48], 49, 50], [51, 52, 53, 54, 55], [56, 57, 58, 59, 60]], 
    [61, 62, 63, [64, 65, 66, 67, 68, 69, 70, 71], 72, 73, 74, [75, [76, 77, 78], 79], 80], 
    [81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]]

### 1.
Из приведенного выше списка списков выведите с помощью индексов число `7`.

In [3]:
print(L[0][0][6])

7

### 2.
Из приведенного выше списка списков выведите с помощью индексов число `49`.

In [8]:
print(L[2][1][2])

49

### 3.
Из приведенного выше списка списков выведите с помощью индексов число `78`.

In [12]:
print(L[3][7][1][2])

78

### 4.
Из приведенного выше списка списков выведите с помощью индексов (используя **отрицательные значения**) число `99`.

In [13]:
print(L[4][-2])

99

### 5.
Из приведенного выше списка списков сделайте **срез** с числом `74`.

In [14]:
print(L[3][6:7])

[74]

### 6.
Из приведенного выше списка списков сделайте **срез** с числами `47, 48`.

In [15]:
print(L[2][1][1:2])

[[47, 48]]

### 7.
Из приведенного выше списка списков сделайте **срез** с числами `77, 78`.

In [16]:
print(L[3][7][1][1:])

[77, 78]

## Функция range()

### 8.
С помощью функции `range` сгенерируйте следующую последовательность: <br>
`[0, 1, 2, 3, 4]`

In [17]:
list(range(5))

[0, 1, 2, 3, 4]

### 9.
С помощью функции `range` сгенерируйте следующую последовательность: <br>
`[3, 4]`

In [18]:
list(range(3,5))

[3, 4]

### 10.
С помощью функции `range` сгенерируйте следующую последовательность: <br>
`[4, 8, 12, 16]`

In [19]:
list(range(4, 20, 4))

[4, 8, 12, 16]

### 11.
С помощью функции `range` сгенерируйте следующую последовательность: <br>
`[16, 12, 8, 4]`

In [20]:
list(range(16, 0, -4))

[16, 12, 8, 4]

### 12.
С помощью функции `range` сгенерируйте следующую последовательность: <br>
`[0, 5, 10]`

In [21]:
list(range(0,15,5))

[0, 5, 10]

### 13.
С помощью функции `range` сгенерируйте следующую последовательность: <br>
`[10, 5, 0]`

In [22]:
list(range(10, -5, -5))

[10, 5, 0]

### 14.
С помощью функции `range` сгенерируйте следующую последовательность: <br>
`[-10, -9, -8, -7, -6, -5, -4, -3, -2, -1]`

In [23]:
list(range(-10, 0, 1))

[-10, -9, -8, -7, -6, -5, -4, -3, -2, -1]

### 15.
С помощью функции `range` сгенерируйте следующую последовательность: <br>
`[-10, -16, -22, -28, -34]`

In [24]:
list(range(-10, -40, -6))

[-10, -16, -22, -28, -34]

## Операторы и типы данных

Этот блок должен быть решен **БЕЗ** использования готовых функций и сторонних библиотек. Используйте операторы.

### 16.
Часы показывают время в формате h:mm:ss (количество часов (от 0 до 23), двузначное количество минут, двузначное количество секунд). Количество минут и секунд при необходимости дополняются до двузначного числа нулями.

Программа должна запрашивать количество секунд S, которое прошло с начала суток, и выводить в формате h:mm:ss, какое время будут показывать часы. <br><br>

*Формат ввода:* <br>
3600<br><br>

*Формат вывода:* <br>
1:00:00

In [30]:
def watch_time():
    seconds = int(input('Input seconds quantity: '))
    hours = seconds // 3600
    minutes = (seconds % (hours * 3600)) // 60
    sec = (seconds % 60)

    if minutes < 10:
        minutes = '0' + str(minutes)

    if sec < 10:
        sec = '0' + str(sec)

    print(hours, ':',  minutes, ':',  sec)
    
watch_time()

Input seconds quantity: 3600
1 : 00 : 00

### 17.
Машина выезжает на нулевой километр МКАД и едет по часовой стрелке с постоянной скоростью V километров в час. На каком километре МКАД машина окажется через T часов? 
<br> Длина МКАД: 109 км. <br><br> 

*Формат ввода:* <br>
60 <br>
1
<br><br>
*Формат вывода:* <br>
60

In [31]:
def mkad_km():
    velocity = int(input('Velocity: '))
    time_movement = int(input('Hours: '))
    km = (velocity * time_movement) % 109
    print(km)

mkad_km()

Velocity: 60
Hours: 1
60

### 18.
Напишите программу, которая запрашивает целое пятизначное число и выводит сумму его цифр.

*Формат ввода:* <br>
11111
<br><br>
*Формат вывода:* <br>
5

In [32]:
def figures_summ():
    figure = input('Input digits: ')
    figure_summ = 0
    for i in range(len(figure)):
        figure_summ = figure_summ + int(figure[i])
    print(figure_summ)

figures_summ()

Input digits: 11111
5

### 19.
Напишите программу, которая запрашивает целое четырехзначное число и меняет местами его две первые и две последние цифры.

*Формат ввода:* <br>
5236 
<br><br>
*Формат вывода:* <br>
3652

In [33]:
def digit_swap():
    digits = input('Input digits: ')
    result = digits[2:] + digits[0:2]
    print(result)

digit_swap()

Input digits: 5236
3652

### 20.
Напишите программу, которая на основании параметра D (сколько километров в день преодолевает машина), расчитывает сколько дней она затратит на путь длиной P километров.  <br><br>
*Формат ввода:* <br>
105 <br>
120
<br><br>
*Формат вывода:* <br>
2

In [0]:
### YOUR CODE HERE ###

### 21.
Напишите программу, которая считает, сколько рублей и копеек нужно заплатить за N авокадо, если один авокадо стоит R рублей и K копеек. <br><br>
*Формат ввода:* <br>
40 20 <br>
5
<br><br>
*Формат вывода:* <br>
201 руб. 00 коп.

In [1]:
def avocado_price():
    price = input('Price: ')
    avocado_n = int(input('Quantity: '))
    price = price.split()
    rubles_r = int(price[0])
    kopeek_k = int(price[1])
    kopeek_total = (rubles_r * 100 + kopeek_k) * avocado_n
    rubles_price = kopeek_total // 100
    kopeek_price = kopeek_total - rubles_price * 100
    kopeek_price = str(kopeek_price)

    if len(kopeek_price) == 1:
        kopeek_price = '0' + kopeek_price

    print(rubles_price, 'руб.', kopeek_price, 'коп.')

avocado_price()

Price: 40 20
Quantity: 5
201 руб. 00 коп.

### 22.
Пусть организаторы мероприятия неправильно составили гугл-форму и просили людей указывать ФИО в неправильном порядке. Сначала спрашивали имя, потом отчество, затем фамилию. Напишите программу, которая будет переставлять ФИО в нужный порядок. <br> <br> 

*Формат ввода:* <br>
Иван Иванович Иванов<br><br>
*Формат вывода:* <br>
Иванов Иван Иванович

In [4]:
def name_correction():
    name = input('')
    name = name.split()
    name[1], name[2] = name[2], name[1]
    name[0], name[1] = name[1], name[0]
    print('{0} {1} {2}'.format(*name))

name_correction()

Иван Иванович Иванов
Иванов Иван Иванович

## Cловари и списки

### 23.
У вас есть список с заказом в ресторане. Напишите программу, которая меняет указанное по названию блюдо на другое. При этом новое блюдо в списке будет расположено на месте того, что было заменено.

*Формат ввода:* <br>
белое вино<br>
красное вино <br><br>
*Формат вывода:* <br>
`['красное вино', 'салат Цезарь', 'паста Карбонара', 'чизкейк', 'шоколадный сорбет']`

In [0]:
order = ['белое вино', 'салат Цезарь', 'паста Карбонара', 'чизкейк', 'шоколадный сорбет']

In [0]:
### YOUR CODE HERE ###

__________________
Вам дан словарь c расписанием на неделю.

In [0]:
diary = {'понедельник': {
                          'утро': ['погулять с собакой'],
                          'день': [],
                          'вечер': ['погулять с собакой']
                                      },
        'вторник': {
                          'утро': ['погулять с собакой'],
                          'день': [],
                          'вечер': ['погулять с собакой']
                                      },
        'среда': {
                          'утро': ['погулять с собакой'],
                          'день': [],
                          'вечер': ['погулять с собакой']
                                      },
        'четверг': {
                          'утро': ['погулять с собакой'],
                          'день': [],
                          'вечер': ['погулять с собакой']
                                      },
        'пятница': {
                          'утро': ['заехать в шиномонтаж', 'помыть машину'],
                          'день': [],
                          'вечер': ['поход в театр',  'ужин в кафе']
                                      },
        'суббота': {
                          'утро': [],
                          'день': [],
                          'вечер': []
                                      },
        'воскресенье': {
                          'утро': [],
                          'день': [],
                          'вечер': []
                                      }}

### 24.
Удалите ключи `суббота` и `воскресенье`. Вместо них добавьте пару, где ключ это кортеж `суббота, воскресенье`, а значение – список с делом `посадить цветы на даче`. Можно ли сделать ключ `суббота, воскресенье` списком?

In [0]:
### YOUR CODE HERE ###

### 25.
Добавьте в список дел во вторник утром `поход к зубному`.

In [0]:
### YOUR CODE HERE ###

### 26.
Замените `поход в театр` на `поход в кино` в списке дел в пятницу вечером.

In [0]:
### YOUR CODE HERE ###

### 27.
Ваш друг вернется из отпуска на один день раньше, поэтому он заберет свою собаку в среду, а не в четверг. Удалите дело `погулять с собакой` из соответствующих списков.

In [0]:
### YOUR CODE HERE ###

### 28.
Выведите второе дело из списка дел, которые вам нужно сделать в пятницу утром.

In [0]:
### YOUR CODE HERE ###