# Множества - хранят только уникальные объекты

In [2]:
set()

set()

In [26]:
my_set = set([1,2,4,6,87,334,689,7,43,8,9,0,271])

In [4]:
my_set

{0, 1, 2, 4, 6, 7, 8, 9, 43, 87, 334, 689}

In [32]:
other_set = {7,2,6,9,9,0,1,2,533,6,74,12,75, 271}

In [6]:
other_set

{0, 1, 2, 6, 7, 9, 12, 74, 75, 533}

In [8]:
my_set | other_set # joining sets

{0, 1, 2, 4, 6, 7, 8, 9, 12, 43, 74, 75, 87, 334, 533, 689}

In [12]:
my_set & other_set # intersection of sets

{0, 1, 2, 6, 7, 9, 271}

In [13]:
my_set - other_set

{4, 8, 43, 87, 334, 689}

In [14]:
other_set - my_set

{12, 74, 75, 533}

In [4]:
334 in my_set

True

In [5]:
my_set.add(56)

In [20]:
my_set

{0, 1, 2, 4, 6, 7, 8, 9, 43, 87, 271, 334, 689}

In [23]:
my_set.pop()

2

In [28]:
my_set.discard(4)

In [29]:
my_set

{0, 1, 2, 6, 7, 8, 9, 43, 87, 271, 334, 689}

In [30]:
my_set.remove(4)

KeyError: 4

In [33]:
my_set.update(other_set)

In [34]:
my_set

{0, 1, 2, 6, 7, 8, 9, 12, 43, 74, 75, 87, 271, 334, 533, 689}